<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>

  <meta charset="utf-8" />

  <!-- Page Title -->
  <title>
    {{- block "title" . -}}
      {{ if eq .Kind "page" }}{{ .Title }}{{ else if isset .Site.Params "seotitle" }}{{ .Site.Params.seotitle }}{{ else }}{{ .Site.Title }}{{ end }}
    {{- end -}}
  </title>

  <!-- Shared Head -->
  {{ partial "head.html" . }}

  <!-- Polyfill for old browsers -->
  {{ partial "polyfill.html" . }}

</head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TR8XH6J"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {{ if ne .Kind "404" }}
    <div class="suspension">
      <a title="Go to top" class="to-top is-hide"><span class="icon icon-up"></span></a>
      {{ if and (eq .Type "post") (eq .Kind "page") }}
        {{ if .Site.Params.changyan }}
        <a title="Go to comments" class="to-comment" href="#SOHUCS"><span class="icon icon-comment"></span></a>
        {{ else if .Site.DisqusShortname }}
        <a title="Go to comments" class="to-comment" href="#disqus_thread"><span class="icon icon-comment"></span></a>
        {{ else }}{{ end }}
      {{ end }}
    </div>
    {{ end }}
    {{ block "main" . }}{{ end }}
    <!-- Go to www.addthis.com/dashboard to customize your tools --><script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5d3037411287beab"></script>
  </body>
</html>
